@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-sm navbar-dark bg-dark box-shadow mb-3 px-4">
    <div class="container-fluid p-0">
        <NavLink class="navbar-brand d-flex align-items-center gap-2" href="">
            <i class="bi bi-train-front-fill fs-4"></i>
            <span>Ticket Reservation</span>
        </NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0 gap-3 align-items-center">
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house-door-fill"></i> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="passengers">
                        <i class="bi bi-people-fill"></i> Passengers
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="tickets">
                        <i class="bi bi-ticket-perforated-fill"></i> Tickets
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>